/*
Theme Name: Slider Responsive WordPress Theme
Theme URI: http://www.dessign.net/slider-responsive-theme
Description: Slider Responsive Theme for WordPress is stylish, customizable, simple, and readable. Perfect for any creative, illustrator or graphic designer.
Version: 2.0
Author: Marios Lublinski
Author URI: http://www.dessign.net
Tags: 3 column theme, clean, portfolio
*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 4px 5px;
}
/* Global */
body, div { margin: 0; padding: 0; }
body { font-family: 'Raleway', sans-serif;  color: #444; background: url(images/dummy-image.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; }
a { color: #000; text-decoration: none; transition: background 0.3s ease 0s, color 0.3s ease 0s; }
a:hover { color: #666; }
h1,h2,h3,h4,h5,p { margin: 10px 0; color: white; padding: 10px;}
h3 { font-size: 18px; }
h4 { font-size: 20px; }
.no_margin_top { margin-top: 0 !important; }
.margin_top_25 { margin-top: 25px; }
.margin_vert_20 { margin: 20px 0; }
.margin_vert_25 { margin: 25px 0; }
.padding_bottom_10 { padding-bottom: 10px !important; }
img { border: none; }
p { line-height: 22px; padding: 10px;}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
sup { font-size: 11px; }
.line_height_22 { line-height: 22px !important; }
.font_10 { font-size: 10px !important; }
.font_11 { font-size: 11px; }
.font_14 { font-size: 14px; }
.font_17 { font-size: 17px; }
.font_18 { font-size: 18px; }
.font_28 { font-size: 28px; line-height: 30px; }
.font_42 { font-size: 42px; }
.font_normal { font-weight: normal; }
.float_none { float: none !important; }
.green_text { color: #005a4a; }
.purple_text { color: #76236d; }
.text_center { text-align: center; margin-top: 17px;text-align: center;font-family: p;font-size: 50px; color: white;}
::selection {
	background: #ccc; 
	}
::-moz-selection {
	background: #ccc; 
}
#main_container { width: 976px; margin: 0 auto; }
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/* Header */
#header {  padding: 0 1px 0px; }
#menu_container { padding: 15px 0; text-align: center;  }
#menu_container ul { list-style-type: none; margin: 0; padding: 0;  text-align: center; }
#menu_container ul li { margin-left: 15px; font-family: 'Raleway', sans-serif; font-weight: 300;  font-size: 13px; color: #9f9f9f; position: relative; padding-bottom: 10px; text-transform: uppercase; display: inline-block; }
#menu_container ul li:first-child { margin-left: 0; }
#menu_container ul li a { color: white; text-decoration: none; display: block; padding-bottom: 5px;  padding: 5px 15px 5px 15px; border-radius: 3px;font-size: 18px;
font-family: p}
#menu_container ul li a:hover, 
#menu_container ul li.current-menu-item a, 
#menu_container ul li.current_page_item a { color: #fff; background-color: #D15F5F; padding: 5px 15px 5px 15px;}
#menu_container ul li ul { position: absolute; top: 35px; left: 0;   padding: 1px 1px; z-index: 25; display: none; border-radius: 3px; text-align: left; }
#menu_container ul li ul li { width: 150px; font-size: 12px; margin: 0; padding: 4px 2px 4px 2px; background-color: #333; }
#menu_container ul li ul li:first-child { border-top: none; }
#menu_container ul li.current-menu-item ul li a, 
#menu_container ul li.current_page_item ul li a  { color: #9f9f9f; border-bottom: none; }
#menu_container ul li ul li.current-menu-item a, 
#menu_container ul li ul li.current_page_item a, 
#menu_container ul li ul li a { color: #9f9f9f; border-bottom: none; }
#menu_container ul li ul li.current-menu-item a:hover, 
#menu_container ul li ul li.current_page_item a:hover, 
#menu_container ul li ul li a:hover { border-bottom: none; color: #ccc; }
/* Content */
#slideshow_cont { margin-top: 3px; height: 600px; width: 976px; position: relative; }
#slideshow { }
.slide_box { display: none; position: absolute; top: 0; left: 0; z-index: 10; }
.slide_box img { width: 976px; height: 600px; border-radius: 5px; }
.first_slide_box { display: block; }
.slide_box_text {font-family: 'Raleway', sans-serif; font-weight: 300; position: absolute; bottom: 15px; left: 15px; font-size: 14px; color: #fff; text-transform: uppercase; }
h3.top_title, h1.top_title { padding: 5px 5px; margin: 2px 0 2px;  font-size: 13px; color: #fff; background-color: #000; text-transform: uppercase;  }
.slide_prev { position: absolute; left: 0; top: 50%; margin-top: -16px; z-index: 15; cursor: pointer; }
.slide_next { position: absolute; right: 0; top: 50%; margin-top: -16px; z-index: 15; cursor: pointer; }
.home_post_wide { float: left; margin: 25px 26px 0 0; width: 470px; height: 317px; position: relative; }
.home_post_wide img { width: 470px; height: 317px; border-radius: 3px;  }
.home_post_wide .home_post_title {font-family: 'Raleway', sans-serif; font-weight: 300;  position: absolute; bottom: 10px; left: 10px; width: 120px; font-size: 12px; color: #fff; text-transform: uppercase; background-color: #fff; padding: 3px; border-radius: 2px; }
.home_post_tall { float: left; margin: 25px 26px 0 0; width: 227px; height: 317px; position: relative; }
.home_post_tall img { width: 227px; height: 317px; border-radius: 3px;}
.home_post_tall .home_post_title { font-family: 'Raleway', sans-serif; font-weight: 300; position: absolute; bottom: 10px; left: 10px; width: 120px; font-size: 12px; color: #fff; text-transform: uppercase; background-color: #fff; padding: 3px; border-radius: 2px; }
.home_post_tall_last { margin-right: 0; }
.home_post_box { float: left; margin: 25px 0px 0 0; width: 244px; height: 258px; position: relative; }
.home_post_box img { width: 244px; height: 258px; }
.home_post_box .home_post_title {font-family: 'Raleway', sans-serif; font-weight: 300;  position: absolute; bottom: 10px; left: 10px; width: 130px; font-size: 12px; color: #fff; text-transform: uppercase; background-color: #fff; padding: 3px; border-radius: 2px; }
.home_post_box_last { margin-right: 0; }
.home_post_title a { color: #222; text-decoration: none; }
.home_post_title a:hover { text-decoration: underline; }

.home_post_box1 { position: absolute; left: 0; bottom: 15px; padding: 5px 5px; font-size: 14px; color: #000; text-decoration: none; background-color: #fff; }
.archive_nav { padding: 10px 0 0;  }
.archive_nav a { display: block; background-color: #000; color: #fff; font-size: 14px; text-decoration: none; padding: 5px 10px; }
.blog_box { margin-top: 25px; }
.blog_box .left img { width: 614px; height: 337px; border-radius: 5px;  }
.blog_box .right { font-size: 14px; width: 290px; background-color: #fff; padding: 15px 15px; height: 307px; }
.blog_box .right h3 { font-size: 20px; margin-top: 0; font-weight: normal; }
p.blog_date { margin-bottom: 20px; }
.blog_box .read_more { display: inline-block; font-size: 25px; color: #444;  padding: 1px 1px; }
#single_cont { padding: 25px 25px; font-size: 25px; color:white; margin-top: 25px; font-family:gill sens light ;}
#role{font-size: 15px}
h1.single_title { margin: 0 0 15px; font-size: 18px; font-weight: normal; }
.single_rand_cont {  }
#commentform input[type=submit] { background-color: #161616; color: #fff; border: 1px solid #6E6E6E; padding: 3px 5px; }
/* Footer */
#footer { margin: 20px 0 25px; padding: 10px 10px;  font-size: 11px; color: #222; }
#footer .left img { float: left; margin-right: 10px; }
/* for tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#main_container { width: 718px; }
	#header { padding: 0 15px 0px; }
	.logo { max-width: 688px; height: inherit; }
	
	
	#menu_container ul li { margin-left: 12px; font-family: 'Raleway', sans-serif; font-weight: 300;  font-size: 14px; color: #9f9f9f; position: relative; padding-bottom: 10px; text-transform: uppercase; display: inline-block; }
	
	#slideshow_cont { height: 460px; width: 718px; }
	.slide_box img { width: 718px; height: 460px; }
	.home_post_wide { margin: 25px 15px 0 0; width: 344px; height: 232px; }
	.home_post_wide img { width: 344px; height: 232px; }
	.home_post_wide .home_post_title { width: 324px; font-size: 15px; }	
	
	.home_post_tall { margin: 25px 15px 0 0; width: 172px; height: 232px; }
	.home_post_tall img { width: 172px; height: 232px; }
	.home_post_tall .home_post_title { width: 152px; font-size: 15px; }
	.home_post_tall_last { margin-right: 0; }	
	
	.home_post_box { width: 179px; height: 189px; }
	.home_post_box img { width: 179px; height: 189px; }
	.home_post_box .home_post_title { width: 159px; font-size: 15px; }
	.home_post_box_last { margin-right: 0; }	
	
	.blog_box .left img { width: 460px; height: 252px; }
	p.blog_date { margin-bottom: 10px; }
	.blog_box .right p { line-height: 17px; }
	.blog_box .right { font-size: 12px; width: 210px; background-color: #fff; padding: 10px 10px; height: 232px; }
	
	#single_cont { padding: 15px 15px; }
	.single_inside_content img { max-width: 688px; height: inherit; }
	
	#footer { font-size: 12px; }
	
}
@media screen and (max-width: 766px) {
	
	#main_container { width: 310px; }
	#header { padding: 0 10px 0px; }
	.logo { max-width: 290px; height: inherit; }
	
	#menu_container ul li { margin-left: 2px; font-family: 'Raleway', sans-serif; font-weight: 300;  font-size: 14px; color: #9f9f9f; position: relative; padding-bottom: 5px; text-transform: uppercase; }
	
	#slideshow_cont { height: 220px; width: 310px; margin-top: 7px; }
	.slide_box img { width: 310px; height: 220px; }
	.slide_box_text {font-family: 'Raleway', sans-serif; font-weight: 700; position: absolute; bottom: 15px; left: 15px; font-size: 16px; color: #fff; text-transform: uppercase; }
	.home_post_wide { float: none; margin: 15px auto; width: 310px; height: 209px; }
	.home_post_wide img { width: 310px; height: 209px; }
	.home_post_wide .home_post_title { width: 290px; font-size: 16px; }	
	
	.home_post_tall { float: none; margin: 15px auto; width: 310px; height: 433px; }
	.home_post_tall img { width: 310px; height: 433px; }
	.home_post_tall .home_post_title { width: 290px; font-size: 16px; }
	.home_post_tall_last { margin-right: auto; }	
	
	.home_post_box { width: 310px; height: 328px; float: none; margin: 15px auto; }
	.home_post_box img { width: 310px; height: 328px; }
	.home_post_box .home_post_title { width: 290px; font-size: 16px; }
	.home_post_box_last { margin-right: auto; }	
	
	.blog_box .left img { width: 310px; height: 170px; float: none; margin-bottom: 5px; }
	p.blog_date { margin-bottom: 10px; }
	.blog_box .right p { line-height: 17px; }
	.blog_box .right { font-size: 12px; width: 290px; background-color: #fff; padding: 10px 10px; height: 200px; }
	
	#single_cont { padding: 15px 15px; }
	.single_inside_content img { max-width: 280px; height: inherit; }	
	#commentform textarea { max-width: 280px; }
	
	#footer { font-size: 12px; }	
	
}